<h1>Crear Role </h1>
<form method="post" asp-action="Create">
    <label for="nombre">Rol</label>
    <input type="text" name="nombre" placeholder="Ingrese el nombre del rol a agregar" class="form-control" />
    <input type="submit" value="Crear" class="btn btn-primary" />
</form>